# Django loyihaning xavfsizlik kaliti (Secret Key)
SECRET_KEY=django-insecure-example-key-here

# Loyihani sozlash rejasi. Lokal tekshirishda True, production (server)da False bo'lishi kerak.
DEBUG=True

# Loyiha ishlaydigan ruxsat etilgan xostlar (ALLOWED_HOSTS) ro'yxati (vergul bilan ajratilgan)
ALLOWED_HOSTS=127.0.0.1,localhost

# Ma'lumotlar bazasi fayli nomi (SQLite uchun)
DB_NAME=db.sqlite3
